body{
margin:0;
background:black;
font-family:monospace;
overflow:hidden;
color:white;
}

#introScreen{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
box-sizing:border-box;
}

.terminal{
max-width:700px;
color:#ff2a2a;
text-shadow:0 0 8px red;
white-space:pre-wrap;
}

#startBtn{
margin-top:20px;
padding:15px 40px;
background:#3b0000;
color:red;
border:2px solid red;
font-size:20px;
display:none;
box-shadow:0 0 20px red;
}

#gameScreen{
display:none;
position:fixed;
width:100%;
height:100%;
background:black;
}

#levelText{
position:absolute;
top:20px;
left:50%;
transform:translateX(-50%);
color:red;
font-size:28px;
text-shadow:0 0 15px red;
}

#gameCanvas{
position:absolute;
width:100%;
height:100%;
}

#grid{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
width:300px;
height:300px;
display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:repeat(3,1fr);
gap:2px;
}

.tile{
background:url('sunny.jpg') center/cover;
filter:blur(20px);
opacity:0;
}

#winText{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
color:red;
font-size:28px;
text-align:center;
display:none;
text-shadow:0 0 20px red;
}

#rewardBtn{
position:absolute;
bottom:120px;
left:50%;
transform:translateX(-50%);
padding:15px 40px;
background:gold;
border:none;
display:none;
box-shadow:0 0 20px gold;
}

#nextBtn{
position:absolute;
bottom:40px;
left:50%;
transform:translateX(-50%);
padding:15px 40px;
background:red;
color:white;
border:none;
display:none;
}
